body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("logo.png") center/cover no-repeat;
  margin: 5;
  height: 100vh;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: darkviolet;
  color: #ffffff;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: purple;
}
