body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("images/logo.png") center/cover no-repeat;
  margin: 5;
  height: 100vh;
}

button {
  background-color: darkviolet;
  color: #ffffff;
  border: none;
  border-radius: 3px solid black;
  margin-top: 5px;
  padding: 10px 15px;
}

button:hover {
  background-color: purple;
}
